{% extends 'base.html.twig' %}

{% block title %}Accueil Mairie
{% endblock %}

{% block body %}
<div class="container">
	
	{# images centrales #}
	<div class="row mt-5">
		<div class="col-sm-6">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Special title treatment</h5>
					<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
					<img src="https://via.placeholder.com/350">

					<a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Special title treatment</h5>
					<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
					<img src="https://via.placeholder.com/350">

					<a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}