{% extends 'base.html.twig' %}

{% block title %}Accueil Mairie
{% endblock %}

{% block body %}

	{% set i=i+1 %}
	<div class="container w-100 mt-5">
		<div class="row col-6 ">

			<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">

				<div
					class="carousel-inner  ">
					{# {% for evenement  in evene3ments %} #}
					<div class="carousel-item {% if i == 1 %} active {% endif %} " data-bs-interval="1000">
						<img src="..\images\photo1.png" class="d-block w-100 h-50 fluid">

					</div>
					<div class="carousel-item " data-bs-interval="1000">
						<img
						src="..\images\photo2.png" class="d-block w-100 h-50 fluid">
					{# {% endfor %} #}
					</div>

					<div class="carousel-item " data-bs-interval="1000">
						<img
						src="..\images\photo3.png" class="d-block w-100 h-50 fluid">
					{# {% endfor %} #}
					</div>

				</div>

				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>

				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
	</div>


{% endblock %}
