{% extends 'base.html.twig' %}

{% block title %}Histoire de notre Village
{% endblock %}

{% block body %}
<div class="container  mt-5 mb-5">
	<div class="row   ">
		<div class="container col-6">
			<p>
				<h1 class="text-center">Histoire de notre petite ville</h1>
			</p>
			<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="../images/eglise.jpg" class="d-block w-100" h-90 alt="...">
					</div>
					<div class="carousel-item">
						<img src="../images/dechargement.jpg" class="d-block w-100 h-90" alt="...">
					</div>
					<div class="carousel-item">
						<img src="../images/mine.jpg" class="d-block w-100 h-90" alt="...">
					</div>
					<div class="carousel-item">
						<img src="../images/news.jpg" class="d-block w-100 h-90" alt="...">
					</div>
					<div class="carousel-item">
						<img src="../images/photo1.png" class="d-block w-100 h-90 " alt="...">
					</div>
					<div class="carousel-item">
						<img src="../images/photo2.png" class="d-block w-100 h-90" alt="...">
					</div>
					<div class="carousel-item">
						<img src="../images/photo3.png" class="d-block w-100 h-90" alt="...">
					</div>
					<div class="carousel-item">
						<img src="../images/photo4.png" class="d-block w-100 h-90" alt="...">
					</div>
					<div class="carousel-item">
						<img src="../images/rue_de_metz.jpg" class="d-block w-100 h-90" alt="...">
					</div>
				</div>
			</div>
		</div>

		<div class="container col-6 mb-5  h-25" style="overflow-y: scroll">
			<div class="card">
				<div class="card-body  overflow: scroll; " style="height:500px">
					<p class="card-text ">
						<strong>
							<p style="text-align:center">
								Présences préhistorique et gallo-romaine. Seigneurie en 1210.
							</p>
						</strong>
						<p class="h5" style="text-align:justify">
							{# <h5> #}
							Le chemin vicinal de Maxéville à Champigneulles, passe au dire de quelques personnes,
							pour
							une
							ancienne <strong>
								voie romaine.</strong> Cette tradition pourrait être appuyée par la découverte de
							vestiges d'un camp romain dans le bois qui domine ce chemin et le vallon de
							Champigneulles. Ce chemin s'appelle Chemin de la Justice, à cause des fourches
							patibulaires qui se trouvaient à son extrémité. Maxéville, village de l'ancien
							duché de Lorraine, qui a dépendu de la prévôté et du bailliage de Nancy, remonte à
							une époque assez éloignée : il en est parlé dans des titres du XIIe siècle. La
							maison de Lénoncourt y possédait des terres qu'elle tenait de la générosité des Ducs
							<strong>
								de Lorraine.</strong> Cette seigneurie, après lui avoir appartenu, fut ensuite
							partagée
							à
							titre d'héritage, d'où vient qu'il y eut plusieurs châteaux. Vers l'an 1298,
							pendant la guerre qui eut lieu entre le duc Thiébaut II et le comte de Vaudémont,
							celui-ci étant entré en Lorraine avec 600 hommes, brula le village de Maxéville.
							C'est dix ans à peu près avant cet événement que Ferry III, qui par les
							affranchissements donnés aux serfs de ses Etats, s'était attiré la haine des
							seigneurs, fut enlevé par ces derniers dans les bois de Heys et amené prisonnier
							dans la tour de Maxéville. M. Beaupré, après avoir établi l'authenticité de
							l'emprisonnement de Ferry III, a cherché à déterminer l'emplacement qu'occupait la
							fameuse tour où le duc fut détenu par Andrian des Armoises, et que les bourgeois de
							Nancy rasèrent complètement. D'autre part, deux seigneuries distinctes, dit-il, se
							partageaient au XVIIIe siècle le village de Maxéville . Sous l'ancien régime, ce
							village était pour l'époque considérable : on estime qu'avant la peste de 1630, il y
							avait plus de 900 habitants. Et il y existait, au XVIIe siècle, quelques usages
							religieux assez inhabituels. Un lieu-dit de Maxéville porte le nom de
							Côte-le-Prêtre : c'était, dit-on, sur cette montagne voisine du village, que l'on
							déposait les pestiférés en attendant leur mort, et que le prêtre venait leur
							apporter les derniers secours .
						</p>
						{# </h5> #}
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="container text-center ">
			<a href="{{ path('home')}}" class="btn btn-primary">Accueil</a>
		</div>
	</div>
</div>

{% endblock %}